:root{
    --fondo-pag: #c9f2c7;
    --fondo-cabecera: #21897e;
    --texto-oscuro: #0d1821;
    --texto-claro: black; /* Color para texto */
    --titulo-claro: black;

    --borde: 2px solid #222;
    --fondo-secciones: rgba(0, 0, 0, 0.2);

    --fondo-inputs: #f9f9f9;
    --fondo-inputs-focus: #f4f3f3;
    --borde-inputs: 1px solid black;
    --borde-color-input-focus: #007bff;
    --sombreado-inputs: 0 0 8px rgba(0, 122, 204, 0.3);
    --color-boton: #21897e;
    --color-boton-hover: #165d56;
    
}

.dark-mode {
    --fondo-pag: #121212;
    --fondo-cabecera: #1e1e1e;
    --texto-oscuro: #ffffff;
    --texto-claro: #cccccc;
    --titulo-claro: #ffffff;

    --borde: 2px solid #ffffff;
    --fondo-secciones: rgba(255, 255, 255, 0.1);

    --fondo-inputs: #3a3a3a;
    --fondo-inputs-focus: #cccccc;
    --borde-inputs: 1px solid white;
    --borde-color-input-focus: #ff9800;
    --sombreado-inputs: 0 0 8px rgba(255, 152, 0, 0.3);
    --color-boton: #ff9800;
    --color-boton-hover: #bd7101;
}


/*Cambios globales*/
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: monospace;
}
body{
    overflow-x: hidden;
}
main{
    width: 100%; height: 64vh;
    background: var(--fondo-pag);
}
span{
    font-weight: bold;
}

/*========= JS ===========*/

.linea-error {
    background-color: red;
    font-size: 1em;
    margin-top: 10px;
    border: 1px solid black;
    text-align: center;
}

.linea-bien {
    background-color: green;
    font-size: 1em;
    margin-top: 10px;
    border: 1px solid black;
    text-align: center;
}


/* Estilo de cada imagen */
.galeria__imagen {
    width: 200px;
    height: 150px;
    object-fit: cover;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

/* Contenedor de la imagen y el botón */
.contenedor_imagen {
    position: relative;
    display: inline-block;
}

/* Estilos para el botón de eliminar */
agregar_imagen {
    position: absolute;
    top: 10px;
    right: 10px;
    background-color: rgba(0, 0, 0, 0.6);
    color: white;
    border: none;
    padding: 5px;
    cursor: pointer;
    border-radius: 5px;
}

agregar_imagen:hover {
    background-color: rgba(0, 0, 0, 0.8);
}


/* =========== HEADER  =============*/
.cabecera{
    width: 100%;
    height: 20vh;
    padding: 2rem;
    background: var(--fondo-cabecera);
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 2rem;
}

.cabecera__botones{
    width: 15%; height: 100%;
    margin-left: auto;
    display: flex;
    flex-direction: row;
    align-items: center;
}

.botones__darkmode {
    display: flex;
    align-items: center;
}

.botones__darkmode input[type="checkbox"] {
    display: none; /* Oculto el checkbox real */
}

.darkmode__toggle {
    width: 60px;
    height: 30px;
    background-color: white;
    border-radius: 15px;
    border: 2px solid black;
    position: relative;
    cursor: pointer;
    transition: all ease 0.3s;
    display: inline-block; /* Para que funcione bien como un span */
}

.darkmode__toggle::before {
    content: '';
    width: 26px;
    height: 26px;
    background-color: #f0eeee;
    border-radius: 50%;
    position: absolute;
    top: 0px;
    left: 2px;
    transition: left 0.3s ease;
}

input[type="checkbox"]:checked + .darkmode__toggle {
    background-color: #222;
}

input[type="checkbox"]:checked + .darkmode__toggle::before {
    background: black;
    left: 32px; /* Mueve el círculo cuando está activado */
}


.cabecera__logo {
    width: 20%; height: 100%;
    margin: 1rem;
    object-fit: contain;


}

.cabecera__logo:hover{
    transform: scale(1.2);
    transform: rotateZ(10deg);
    transform: rotateZ(-10deg);
}

/*Cambiar todos los enlaces de la cabecera*/
.cabecera a{
    text-decoration: none;
    color: azure;
}


.cabecera__navegacion {
    width: 60%;
    height: 50%;
    background: transparent;
    padding: 0.6rem;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  /* Ajusta la lista para que se vea horizontal */
  .cabecera__navegacion ul {
    width: 100%; height: 100%;
    list-style: none;
    display: flex; 
    justify-content: space-between;
  }
  
  /* Estilo de los elementos de la lista */
  .cabecera__navegacion li {
    width: 25%; height: 100%;
    text-align: center;
  }
  
  /* Todos los enlaces de navegación */
  .cabecera__navegacion a {
    height: 100%;
    display: block; 
    padding: 1rem;
    color: var(--texto-oscuro);
    font-weight: bold;
    text-align: center;
    border-left: 2px solid black;
  }
  
  /* Efecto hover */
  .cabecera__navegacion a:hover {
    font-size: 30px;
    color: #f0eeee;
    border-color: #f0eeee;
    animation: bucle 5s infinite;
    transition: all ease 1.5s;
  }


/*=================================================================================
===================================================================================*/

/*================ PÁG INICIO===================*/
.inicio{
    height: fit-content;
    font-size: 1.2rem;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

/* sección introductoria*/ 

.intro {
    width: 100%;
    height: 80vh;
    background-image: url(../assets/intro.jpg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.intro__imagen{
    width: 40%; height: 40%;
    object-fit: contain;
    transition: all ease 1s;
    animation: giro 8s linear infinite; /*Linear hace que gire de forma uniforme */
}

.intro__titulo{
    color: #f5f5f5;
    font-size: 40px;
}

/*sección principal info*/

.principal{
    width: 100%; height: fit-content;
    margin: 3rem 3rem 3rem 3rem;
    padding: 2rem;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    border-bottom: var(--borde);
}

.principal__titulo{
    width: 100%;
    margin-bottom: 2rem;
    text-align: center;
    color: var(--titulo-claro);
}
.principal__contenedorTexto{
    width: 45%; height: fit-content;
    color: var(--texto-claro);
    display: flex;
    flex-direction: column;
}

.texto__titulo{
    border-bottom: var(--borde);
    margin-bottom: 0.6rem;
}

.texto__info h4,
.texto__razon h4{
    border-bottom: var(--borde);
}

.texto__info{
    margin-bottom: 2rem;
}

.texto__info{
    margin-top: 2rem;
}
.info__lista,
.razon__lista{
    padding: 1rem 2rem;
}

.principal__imagen{
    width: 50%;
    border-left: var(--borde);
    padding: 2rem; margin-left: 2rem;
    background-clip: content-box; /*Para que el fondo ocupe solo el contenido */

}

.principal__imagen img{
    width: 100%; height: 100%;object-fit: cover;
    transition: all ease-in-out 0.5s;
}

.principal__imagen img:active{
    transform: translate(-45%, -10%) scale(1.5);
}



.seccion_galeria{
    background: var(--fondo-secciones);
    width: 100%; height: fit-content;
    margin: 3rem 3rem 3rem 3rem;
    padding: 2rem;
    border: var(--borde);
}

.galeria__titulo{
    width: 100%;
    padding-bottom: 2rem;
    margin-bottom: 1rem;
    text-align: center;
    border-bottom: var(--borde);
}

.galeria__botones{
    width: 100%; height: fit-content;
    padding: 1rem;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

.input_imagen{
    width: 70%; height: 3rem;
    padding: 0.5rem;
    background: var(--color-boton);
    border: var(--borde);
}


.boton_aniadir{
    width: 10%; height: 3rem;
    background: var(--color-boton);
}
.boton_aniadir:hover{
    background: var(--color-boton-hover);
}


.galeria{
    width: 100%;
    height: fit-content;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

/* JS */
.galeria__imagen{
    width: 20%;
    display: flex;
    flex-direction: column;
    border: 0.1rem solid black;
    padding: 0.5rem;
}
.galeria__imagen{
    width: 100%;
    height: 20rem;
    object-fit: contain;
}

.boton_eliminar{
    margin-top: 0.5rem;
    background: var(--color-boton);
}
.boton_eliminar:hover{
    background: var(--color-boton-hover);
}

/*Cambio único de la sección newLetter para la página de inicio*/
.inicio .newsletter{
    margin: 0 3rem 3rem 3rem;
}




/*===================CONTACTO==========================*/


.contacto{
    height: fit-content;
    padding: 3rem 4rem;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
}



/*sección info empresa*/

.info{
    width: 45%; height: fit-content;
    margin-left: auto;
    background: var(--fondo-secciones);
    padding: 2rem;
    border: var(--borde);
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.7);
}
.info__titulo{
    margin-bottom: 0.5rem;
    color: var(--titulo-claro);
}
.info__subtitulo{
    margin-top: 2rem;
    margin-bottom: 0.4rem;
    color: var(--titulo-claro);
}

.info ul{
    margin-left: 1rem;
    color: var(--texto-claro);
}

.info p{
    color: var(--texto-claro);
}
/*sección formularios*/
.formulario{
    width: 50%; height: fit-content;
    background: var(--fondo-secciones);
    margin-right: auto;
    padding: 2rem;
    border: var(--borde);
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.7);
    display: inline-block;
}

.formulario__titulo{
    width: fit-content;
    margin: 0 auto;
    border-bottom: 2px solid black;
    color: var(--titulo-claro);
}
.formulario__form{
    width: 100%; height: 90%;
    margin-top: 2rem;
    display: flex;
    flex-direction: column;
}

/*Cambio global a los label de form */
.formulario__form label{
    margin: 1rem 0 0.5rem 0;
    color: var(--titulo-claro);
}
/*Cambio al primer label*/
.formulario-form label:first-child{
    margin: 0rem 0 0.5rem 0;
}
/*Cambio global a los input y textarea de form */
.formulario__form input,
.formulario__form textarea{
    padding: 0.5rem;
    background: var(--fondo-inputs);
    border: var(--borde-inputs);
    border-radius: 5px;
    transition: all 0.3s ease-in-out;;
}

.formulario__form input:focus,
.formulario__form textarea:focus{
    background: var(--fondo-inputs-focus);
    border-color: var(--borde-color-input-focus);
    box-shadow: var(--sombreado-inputs);
    outline: none;
}

.formulario__form__genero{
    margin-top: 1.0rem;
    color: var(--texto-claro);
}
.formulario__form__terminos{
    margin-top: 1.5rem;
}

.formulario__form__nombreyfecha{
    width: 100%;
    display: flex;
    flex-direction: row;
    gap: 4rem;
    border: 0 solid transparent
}

.formulario__form__nombreyfecha__contenedor{
    width: 40%;
    display: flex;
    flex-direction: column;
}

.formulario__form__nombreyfecha__contenedor input{
    width: 100%; height: 100%;
    background: #f5f5f5;
    background: var(--fondo-inputs);
    border: var(--borde-inputs);
}

.formulario__form__boton{
    margin: auto 0 0 auto;
    width: 5rem; height: 2rem;
    color: var(--texto-claro);
    cursor: pointer;
    background: var(--color-boton);
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2);
    transition: all ease 0.5s;
}
.formulario__form__boton:hover{
    background-color: var(--color-boton-hover);
    transform: translateY(4px);
    
}

/* sección newsLetter */

.newsletter {
    width: 100% ; height: 22rem;
    margin: 2rem 0 0 0; padding: 4rem 0;
    background-color: var(--fondo-secciones);
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    text-align: center;
    border: var(--borde);
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.7);
  }
  
.newsletter__titulo {
    width: fit-content;
    font-size: 24px;
    font-weight: bold;
    margin: 0 auto 10px auto;
    color: var(--titulo-claro);
    border-bottom: 1px solid black;
}

.newsletter__descripcion {
    font-size: 16px;
    color: #666;
    margin-bottom: 20px;
}

.newsletter__form {
    width: 46%;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.newsletter__input {
    padding: 10px;
    font-size: 16px;
    background: var(--fondo-inputs);
    border: var(--borde-inputs);
    border-radius: 5px;
    transition: all 0.3s ease-in-out;;
}

.newsletter__input:focus {
    background: var(--fondo-inputs-focus);
    border:1px solid var(--borde-color-input-focus);
    box-shadow: var(--sombreado-inputs);
    outline: none;
}

.newsletter__button {
    background: var(--color-boton) ;
    color: var(--texto-claro);
    border: none;
    padding: 10px;
    font-size: 16px;
    border-radius: 5px;
    cursor: pointer;
    transition: all ease 0.5s;
}


  
.newsletter__button:hover {
    background-color: var(--color-boton-hover);
    transform: translateY(4px);
}

/* ================================= */
/*====================================================*/

/*======== SERVICIOS ===========*/

.main_servicio{
    height: fit-content;
    padding: 2rem 4rem;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}



/* sección servicios*/

.servicios{
    width: 100%; height: fit-content;
    margin: 0 0 3rem 0;
    padding: 2rem;
    background: var(--fondo-secciones);
    border: var(--borde);
}

.servicios__titulo{
    padding-bottom: 2rem;
    text-align: center;
    border-bottom: 4px solid #222;
    color: var(--titulo-claro);
}

/* filtros servicios */

.filtros{
    width: 100%; height: fit-content;
    margin: 1rem 0 1rem 0;
    padding: 2rem;
    background: var(--fondo-secciones);
    border: var(--borde);


}

.filtros__form{
    width: 100%; height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
}

.filtros label{
    color: var(--titulo-claro);
    font-size: 13px;
    font-weight: bold;
}

.filtros__busqueda{
    width: 100%; height: fit-content;
    border: none;
}

.filtros__busqueda label{
    width: 5%;
}



.filtros__buscador{
    width: 60%; height: 2rem;
    border: var(--borde-inputs);
    background: var(--fondo-inputs);
    border-radius: 5px;
    padding: 0 10px;
}

.filtros__buscador:focus{
    background: var(--fondo-inputs-focus);
    border:1px solid var(--borde-color-input-focus);
    box-shadow: var(--sombreado-inputs);
}

.filtros__orden {
    width: 25%; height: fit-content;
    background: transparent;
    font-size: 16px;
    padding: 10px;
    border-radius: 8px;
    color: var(--titulo-claro);
    border: none;
}

.filtros__orden option {
    background-color: #1f2937;
    color: #f9fafb;
    padding: 10px;
    font-size: 15px;
}

.contenedor_filtros__extras{
    width: 100%; height: fit-content;
    display: flex;
    padding: 1rem 2rem;
    flex-direction: column;
    background: var(--fondo-secciones);
    border: var(--borde);
    color: var(--texto-claro);
}

.boton_mostrar_filtros{
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: fit-content; height: 2rem;
    background: transparent;
    color: var(--titulo-claro);
    border: none;
    text-align: center;
}

.boton_mostrar_filtros:hover{
    background-color: rgba(0, 0, 0, 0.1);
}

.filtro_imagen{
    max-width: 25%; max-height: 100%;
    object-fit: cover;
}

.filtros__extras{
    width: 100%;
    height: fit-content;
    border: none;
    margin-bottom: 0.5rem;
    display: none;
    flex-direction: column;
    gap: 5px
}

.filtros__extras legend{
    width: 100%; height: fit-content;
    margin-top: 1rem;
    text-align: center;
    border-bottom: var(--borde);
}

.filtros__extras label{
    margin-top: 1rem;
}

.filtros__extras input{
    width: 45%; height: fit-content;
    background: var(--fondo-inputs);
    border: var(--borde-inputs);
    border-radius: 5px;
    padding: 3px 7px;
}

.filtros__extras input:focus{
    background: var(--fondo-inputs-focus);
    border:1px solid var(--borde-color-input-focus);
    box-shadow: var(--sombreado-inputs);
}

.filtros__extras input[type="range"] {
    width: 75%;
}

.filtros_boton {
    width: 20%;
    background: var(--color-boton) ;
    color: var(--texto-claro);
    border: none;
    margin: 1.5rem 0 0 auto;
    padding: 5px;
    font-size: 16px;
    border-radius: 5px;
    cursor: pointer;
    transition: all ease 0.5s;
}


.filtros_boton:hover {
    background-color: var(--color-boton-hover);
    transform: translateY(4px);
}

.servicios__articulo{
    width: 100%; min-height: 25rem; height: fit-content;

    border-top: 4px solid #222;
    border-bottom: 1px solid #222;
    padding: 2rem 0;

    display: flex;
    flex-direction: row;
    gap: 2rem;
}

.servicio__imagen{
    width: 40%; max-height: 100%; object-fit: cover; /* max-height: 20rem*/
    box-shadow:4px 6px black;
}

.servicios__articulo__info{
    width: 70%; height: 100%;
    color: var(--texto-claro);
}

.servicios__articulo p{
    font-size: 14px;
}

.servicio__titulo{


    padding: 0.5rem 0 0.5rem 0.5rem;
    margin-bottom: 1rem;
    color: var(--titulo-claro);
    border-bottom: 1px solid #0d1821;
    border-left: 1px solid #0d1821;
}

.servicios__articulo__info p{
    padding-left: 0.5rem;
}

.servicio__caracteristicas{
    border-top: var(--borde);
    margin-top: 1rem;
    padding: 1rem 2rem;
}
/*sección testimonios*/

.testimonios{
    width: 100%; height: 20rem;
    margin: 2rem 0;
    padding: 3rem;
    background:var(--fondo-secciones);
    border: var(--borde);
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
}

.testimonios__subtitulo{
    width: 100%; height: fit-content;
    text-align: center;
    color: var(--titulo-claro);
}

.testimonios__lista{
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    list-style: none;
}

.testimonios__articulo{
    height: 100%; width: 33.33%;
    padding: 2rem;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    color: var(--texto-claro);
}



/* ============ BLOG ==============*/
.main_blog{
    height: fit-content;
    padding: 4rem 4rem;
}

.noticias{
    width: 100%; height: fit-content;
    background: var(--fondo-secciones);
    border: var(--borde);
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

.noticias__titulo{
    width: 100%; height: fit-content;
    padding: 2rem;
    text-align: center;
    border-bottom: 3px solid #222;
    color: var(--titulo-claro);
}

.noticias__articulo{
    width: 50%; height: 50rem;
    padding: 2rem;
    border: 1px solid #222;
    display: flex;
    flex-direction: column;
    gap: 2rem;
}

.noticia__titulo{
    width: 100%; height: fit-content;
    padding: 1rem;
    text-align: center;
    background: rgba(0, 0, 0, 0.2);
    border: 1px solid #222;
    color: var(--titulo-claro);
}

.noticia__info{
    width: 100%; height: 48%;
    color: var(--texto-claro);
}

.noticia__imagen{
    width: 100%; height: 60%;object-fit: cover;
    margin-top: auto;
    align-self: center;
    justify-self: center;
    box-shadow:4px 6px black;
    
}



.faq{
    width: 100%; height: fit-content;
    padding: 2rem; margin: 4rem 0;
    background-color: var(--fondo-secciones);
    border: var(--borde);
}

.faq__titulo{
    padding-bottom: 0.5rem;
    border-bottom: 1px solid #222;
    color: var(--titulo-claro);
}

.faq__articulo{
    margin-top: 1rem;
    color: var(--texto-claro);
}


/*=======================================================================
========================================================================*/


.pie{
    width: 100%; height: 18vh;
    padding: 1rem;
    background: var(--fondo-cabecera);
    color: white;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.pie a{
    color: var(--texto-claro);
    text-decoration: none;
}

.pie__subtitulo{
    margin-top: 3rem;
    margin-bottom: 1rem;
    border-bottom: 1px solid white;
    padding-bottom: 3px;
}

.pie__lista{
    list-style-type: circle;
}
/*Cambio global*/
.pie__lista li{
    color: var(--texto-claro);
}

/*Para los tres primeros sections*/ 
.pie section{
    width: 25%; height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.pie__redes{
    width: 25%; height: 100%;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-items: center;
    align-self: center;
}

.pie__subtitulo{
    color: white;
    align-self: center;
}

.pie__redes .pie__lista {
    align-self: center;
    display: flex;
    flex-wrap: wrap;
    list-style-type: none;
}

.pie__lista a {
    display: inline-block;
    margin: 0 10px;
    transition: all ease 0.3s;
}

.pie__lista a:hover {
    transform: scale(1.2);
    filter: brightness(1.3);
}
/*Imágenes de la lista*/
.pie__lista img {
    width: 40px;
    height: 40px;
    object-fit: contain;
    border-radius: 50%; 
    background: black; 
    padding: 5px; 
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.2);
    transition: all 0.3s ease, transform ease 0.5s;
}

.pie__redes img:hover {
    box-shadow: 0 6px 12px rgba(0, 0, 0, 0.4);
    transform: rotateZ(360deg)
}











/*==========================================RESPONSIVE==============================
*/

/*HEADER*/
@media (max-width: 1024px){
    .cabecera{
        padding: 0;
        flex-wrap: wrap;
        align-items: flex-start;
        gap: 0;
    }
    .cabecera__logo{
        width:57%; height: 40%;
        order: 0;
    }
    .cabecera__botones{
        width: 30%; height: 40%;
        order: 1;
        align-items: flex-end;
    }
    .cabecera__navegacion{
        width: 100%; margin-bottom: auto;
        order: 2;
    }
}

@media (max-width: 480px){
    .cabecera{
        height: fit-content;
    }
    .cabecera__logo{
        width: 100%;

    }
    .cabecera__botones{
        width: 100%;
        justify-content: center;
        margin-bottom: 1.2rem;
    }
    .cabecera__navegacion ul{
        flex-direction: column;
        align-items: center;
    }
    .cabecera__navegacion li{
        width: 70%;
    }
}

/*MAIN INICIO*/
@media(max-width: 1024px){
    .intro__imagen{
        width: 80%;
    }
    .principal{
        flex-direction: column;
    }
    .principal__contenedorTexto{
        width: 100%;
    }
    .principal__imagen{
        width: 100%; margin: 1rem 0 0 0; border: none; border-top: var(--borde);
    }
}

@media(max-width: 480px){
    .principal{
        margin: 2rem 0; padding: 0;
    }

    .principal__imagen{
        padding: 2rem 0;
    }

    .inicio .newsletter{
        margin: 2rem 0 2rem 0 
    }
}

/*MAIN SERVICIOS*/
@media (max-width: 900px){
    .servicios__articulo{
        flex-direction: column-reverse;
    }
    .servicios__articulo img{
        width: 100%; height: 25rem;
    }
    .servicios__articulo__info{
        width: 100%;
    }
    .testimonios{
        padding: 0;
    }
}

@media(max-width: 480px){
    .main_servicio{
        padding-bottom: 2rem;
    }
    .servicios{
        padding: 2rem 0;
    }
    .testimonios{
        height: fit-content;
        padding: 2rem 0;
    }
    .testimonios__lista{
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }
}

@media (max-width: 200px){
    .servicio__imagen{
        display: none;
    }
}





/* MAIN CONTACTO */
@media(max-width: 935px){
    .formulario{
        width: 100%;
    }
    
    .info{
        order: -1;
        margin: 0 0 2rem 0;
        width: 100%;
    }
}

@media(max-width:306px){
    .formulario{
        padding: 2rem 0.2rem;
    }
    .formulario__titulo{
        text-align: center;
    }
    .formulario__form__nombreyfecha{
        flex-direction: column;
        align-items: center;
        gap: 0;
    }
    .formulario__form__nombreyfecha__contenedor{
        width: 100%;
    }
    .formulario__form__boton{
        margin-top: 1rem
    }
}

/* MAIN BLOG*/
@media(max-width:1024px){
    .noticias__articulo{
        width: 100%; min-height: 25rem; height: fit-content;
    }
    .noticias__articulo img{
        height: 40%;
    }
}

@media(max-width: 480px){

    .noticias__titulo{
        padding: 2rem 0;
    }
    .noticias__articulo{
        padding: 2rem 0.5rem;
    }

    .faq{
        padding: 2rem 0.5rem;
        width: 100%;
    }
    .faq__titulo{
        text-align: center;
    }
}


/*NewsLetter*/
@media (max-width: 320px){
    .newsletter{
        height: fit-content;
    }
    .newsletter__titulo{
        width: 100%;
        text-wrap: wrap;
    }
    .newsletter__form{
        width: 100%;
    }
} 


/*MÓVILES*/
@media(max-width: 480px){

    .inicio{
        padding: 0 0 2rem 0;
    }

    .seccion_galeria{
        margin: 0;
    }

    .main_blog,
    .contacto,
    .main_servicio{
        padding: 2rem 0 2rem 0;
    }
}


/*FOOTER*/
@media (max-width: 1241px){
    .pie{
        height: fit-content;
        flex-direction: column;
        align-items: center;
    }
    .pie section{
        width: fit-content;
    }

    .pie__redes{
        width: fit-content;
    }

    .pie__subtitulo{
        text-align: center;
    }
    .pie__redes ul{
        justify-content: center;
    }
}


/*ANIMACIONES*/

@keyframes bucle{
    0%,100%{
        font-size: 12px;
    }
    50%{
        font-size: 16px;
    }
}


@keyframes rebote {
    0%, 100% {
      transform: translateY(0);
    }
    50% {
      transform: translateY(20px);
    }
  }


@keyframes giro{
    from {
        transform: rotate(0deg); /* Empieza desde 0 grados */
      }
    to {
        transform: rotate(360deg); /* Termina en 360 grados (una vuelta completa) */
      }
}
