:root{
    --fondo-pag: #c9f2c7;
    --fondo-cabecera: #21897e;
    --texto-oscuro: #0d1821;
    --texto-claro: #f5f5f5; /* Color para texto */
    --titulo-claro: #ffffff;
    --borde: 2px solid #222;


}


*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: monospace;
}

span{
    font-weight: bold;
}
/* =========== HEADER  =============*/
.cabecera{
    width: auto;
    height: 18vh;
    background: var(--fondo-cabecera);
    display: flex;
    flex-direction: column;
    align-items: center;
}

.cabecera__inicio{
   width: 100%;
   height: 50%;
   margin: 1rem 1rem;
   padding: 0 2rem;
   display: flex;
   flex-direction: row;
   align-items: center;
   gap: 3rem;
   
}

.cabecera__botones{
    width: 15%; height: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
}

.cabecera__botones-darkmode{
    width: 3rem; height: 2rem;
    background-color: #2b2b2b;
    border-radius: 1rem;
    border: 2px solid black;
    cursor: pointer;
    transition: all ease 0.5s;
}
/* -----Darkmode----
.toggle:focus{
    background: 
}
*/
.cabecera__botones-darkmode-circulo{
    width: 60%; height: 100%;
    background-color: #222;
    border-radius: 100%;
    border: 1px solid black;
    
}


.cabecera__logo{
    width: 4rem;
    height: 3rem;
    margin: 1rem;
    border-radius: 100%;
}

.cabecera__logo-imagen {
    width: 100%; height: 100%;
    border-radius: 100%;
    object-fit: cover;

}

/*Cambiar todos los enlaces de la cabecera*/
.cabecera a{
    text-decoration: none;
    color: azure;
}


.cabecera__buscador{
    width: 90%; height: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
}

.cabecera__buscador-boton{
    width: 5%; height: 50%;
    margin-right: 0;
    border-right: none;
    background: red;
    
    cursor: pointer;
    transition: all ease 0.5s;
}

.cabecera__buscador-boton-imagen{
    width: 100%; height: 100%;
    

}

.cabecera__buscador-boton:hover{
    background: var(--fondo-cabecera);
}

.cabecera__buscador-input{
    width: 95%; height: 50%;
    padding: 0 1rem;
    margin-right: 0;
    background: wheat;
    border-radius: 0 1rem 1rem 0;
}

.cabecera__navegacion{
    width: 100%; height: 50%;
    background: #b7dcb5;
    padding: 0.6rem;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

/*Todos los enlaces de navegación*/
.cabecera__navegacion a{
    width: 8rem;
    padding: 1rem;
    color: black;
    font-weight: bold;
    text-align: center;
    border-left: 0.1rem solid black;                   
}

/*Para añadir el borde al último*/
.cabecera__navegacion a:last-child{
    border-right: 0.1rem solid black;
}



/*=================================================================================
===================================================================================*/

main{
    width: 100%; height: 64vh;
    background: var(--fondo-pag);
}

/*====================      INICIO       =====================*/












/*===================CONTACTO==========================*/


.contacto{
    height: fit-content;
    padding: 2rem 5rem;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
}



.formulario{
    width: 50%; height: fit-content;
    background: rgba(0, 0, 0, 0.2);
    margin-right: auto;
    padding: 2rem;
    border: var(--borde);
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.7);
    display: inline-block;
}

.info{
    width: 45%; height: fit-content;
    margin-left: auto;
    background: rgba(0, 0, 0, 0.2);
    padding: 2rem;
    border: var(--borde);
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.7);
    width: 45%;
}


.formulario__subtitulo{
    width: fit-content;
    margin: 0 auto;
    border-bottom: 2px solid black;
}
.formulario__form{
    width: 100%; height: 90%;
    margin-top: 2rem;
    display: flex;
    flex-direction: column;
}

/*Cambio global a los label de form */
.formulario__form label{
    margin: 1rem 0 0.5rem 0;
}
/*Cambio al primer label*/
.formulario-form label:first-child{
    margin: 0rem 0 0.5rem 0;
}
/*Cambio global a los input y textarea de form */
.formulario__form input,
.formulario__form textarea{
    padding: 0.5rem;
    background: #f9f9f9;
    
}

.formulario__form__genero{
    margin-top: 1.0rem;
}
.formulario__form__terminos{
    margin-top: 1.5rem;
}

.formulario__form__nombreyfecha{
    width: 100%;
    display: flex;
    flex-direction: row;
    gap: 4rem;
    border: 0 solid transparent
}

.formulario__form__nombreyfecha_contenedor{
    width: 40%;
    display: flex;
    flex-direction: column;
}

.formulario__form__nombreyfecha__contenedor input{
    width: 100%;
    background: #f5f5f5;
}

.formulario__form__boton{
    margin: auto 0 0 auto;
    width: 5rem; height: 2rem;
    color: white;
    cursor: pointer;
    background: #21897e;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2);
    transition: all ease 0.5s;
}
.formulario__form__boton:hover{
    background: #165d56;
    
}

.newletter{
    width: 100%; height: 20rem;
    margin: 2rem 0 2rem 0;
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 2rem;
    padding: 2rem;
    border: var(--borde);
    background: rgba(0, 0, 0, 0.2);
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.7);
}


.newletter article {
    width: 19%; height: 100%;
    padding: 1rem;
    background-color: beige;
    
    border: 1px solid black;
    border-radius: 8px;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.05);
    
}
.newletter article h2 {
    font-size: 1rem;
    color: #2c3e50;
    margin: 0;
}
.newletter article p {
    font-size: 0.9rem;
    color: #7f8c8d;
    margin: 5px 0 0;
}

/* ================================= */
.inicio{
    height: fit-content;
    padding: 2rem;
    font-size: 1.2rem;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

.principal{
    width: 100%; height: fit-content;
    padding: 2rem;
    
    border-bottom: 2px solid #222;
}
.principal h1{
    text-align: center;
}
.principal article{
    margin-top: 2rem;
}
.principal ul{
    padding: 1rem 2rem;
}


.testimonios{
    width: 100%; height: 20rem;
    margin-top: 2rem;
    background:rgba(0, 0, 0, 0.2);

    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

.testimonios__subtitulo{
    width: 100%; height: fit-content;
    text-align: center;
}

.testimonios article{
    height: 100%; width: 33.33%;
    padding: 2rem;

    display: flex;
    flex-direction: column;
    align-items: center;

}


/*====================================================*/

/*======== SERVICIOS ===========*/

.main_servicio{
    height: fit-content;
    padding: 2rem 4rem;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

.servicios{
    width: 100%; height: fit-content;
    margin: 3rem 0rem;
    padding: 2rem;
    background: rgba(0, 0, 0, 0.2);
    border: var(--borde);
}

.servicios__titulo{
    padding-bottom: 2rem;
    margin-bottom: 20px;
    text-align: center;
    border-bottom: 4px solid #222;
}

.servicios__articulo{
    width: 100%; height: 20rem;

    border-bottom: 1px solid #222;
    padding: 1rem 0;

    display: flex;
    flex-direction: row;
    gap: 2rem;
}

.servicios__articulo img{
    width: 30%; height: 100%;
    background: #165d56;
}

.servicios__articulo__info{
    width: 70%; height: 100%;

}

.servicios__articulo__info h3{
    padding: 0.5rem 0 0.5rem 0.5rem;
    margin-bottom: 1rem;

    border-bottom: 1px solid #0d1821;
    border-left: 1px solid #0d1821;
}

.servicios__articulo__info p{
    padding-left: 0.5rem;
}

/*=======================================================================
========================================================================*/


.pie{
    width: 100%; height: 18vh;
    padding: 1rem;
    background: var(--fondo-cabecera);
    color: white;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.pie h3{
    margin-top: 3rem;
    margin-bottom: 1rem;
    border-bottom: 1px solid white;
    padding-bottom: 3px;
}

.pie ul{
    list-style-type: circle;
}

.pie li{
    color: var(--texto-claro);
}

.pie section{
    width: 25%; height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.pie_redes{
    width: 25%; height: 100%;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-items: center;
}

.pie_redes h3{
    color: var(--titulo-claro);
    align-self: center;
}

.pie_redes ul {
    align-self: center;
    display: flex;
    flex-wrap: wrap;
    list-style-type: none;
}

.pie_redes a {
    display: inline-block;
    margin: 0 10px;
    transition: transform 0.3s ease, filter 0.3s ease;
}

.pie_redes a:hover {
    transform: scale(1.2);
    filter: brightness(1.3);
}

.pie_redes img {
    width: 40px;
    height: 40px;
    object-fit: contain;
    border-radius: 50%; 
    background: black; 
    padding: 5px; 
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.2);
    transition: box-shadow 0.3s ease;
}

.pie_redes img:hover {
    box-shadow: 0 6px 12px rgba(0, 0, 0, 0.4);
}

